@page
@model IndexModel
@{
    ViewData["Title"] = "Hi There Maverick";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GitHub Action by Kartik Thakur08</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
